<%= form_for(@toast) do |f| %>
  <% if @toast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toast.errors.count, "error") %> prohibited this toast from being saved:</h2>

      <ul>
      <% @toast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
